.task-form-container {
  margin: 20px;
  width: 380px;
  border-radius: 12px;
  background-color: var(--card-background);
  border: var(--card-border);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  grid-area: 1 / 1 / 2 / 2;
  transition: transform 1s ease;
  backface-visibility: hidden;
  .task-header {
    background-color: #0d9488;
    color: white;
    padding: 14px;
    .task-title {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 18px;
      font-weight: normal;
    }
  }
  .task-form-content {
    padding: 16px;
    .form-date-section {
      .date-time-selector {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .all-day-toggle {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 12px;
          background-color: var(--fifth-background);
          padding: 4px;
          border-radius: 8px;
          .toggle-label {
            font-weight: bold;
          }
        }
        .datetime-container {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .datetime-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--fifth-background);
            padding: 10px 14px;
            border-radius: 14px;
            gap: 6px;
            width: 48%;
            .datetime-label {
              font-size: 14px;
            }
          }
        }
      }
    }
    .form-section {
      margin-bottom: 12px;
      .section-title {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        .section-number {
          background-color: #0d9488;
          color: white;
          width: 24px;
          height: 24px;
          text-align: center;
          line-height: 24px;
          border-radius: 50%;
          margin-right: 8px;
          font-size: 14px;
        }
      }
      .category-selector {
        display: flex;
        gap: 8px;
        .category-card {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px;
          border-radius: 8px;
          cursor: pointer;
          border: 2px solid var(--border-color);
          transition: background-color 0.3s ease;
          .category-label {
            margin-top: 8px;
            font-size: 14px;
          }
        }
        .category-card-active {
          border: 2px solid #0d9488;
          background-color: var(--fourth-background);
        }
      }
      .task-textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        background-color: var(--input-background);
        resize: none;
        outline: none;
        color: var(--input-color);
        &::placeholder {
          color: var(--placeholder-color);
        }
      }
      .error-message {
        background-color: var(--error-message-background);
        border: 1px solid #fde68a;
        color: #92400e;
        padding: 5px;
        border-radius: 4px;
        margin-bottom: 16px;
        text-align: center;
      }
    }
    .submit-button {
      width: 100%;
      background-color: #0d9488;
      color: #fff;
      padding: 12px;
      border-radius: 999px;
      border: none;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: rgba(13, 148, 136, 0.8);
      }
    }
  }
  .switch-routine {
    text-align: end;
    padding: 0 22px 10px;
    span {
      font-size: 12px;
      color: var(--third-color);
      border-bottom: 1px solid var(--third-color);
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

@media (max-width: 480px) {
  .task-form-container {
    width: 90%;
    .task-form-content {
      .form-section,
      .form-date-section {
        margin-bottom: 20px;
      }
      .submit-button {
        margin-top: 5px;
      }
    }
  }
}
