.task-modal {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  .task-modal-container {
    width: 70%;
    height: 70%;
    max-width: 700px;
    min-width: 470px;
    background-color: var(--third-background);
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0 2px 6px var(--shadow-color);
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .task-modal-header {
      background: var(--tertiary-color);
      padding: 18px;
      top: 0;
      z-index: 10;
      position: sticky;
      .close-button {
        position: absolute;
        top: 16px;
        right: 16px;
        padding: 4px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 0.3s;
      }
      .close-button:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
      .task-modal-header-content {
        display: flex;
        align-items: center;
        gap: 24px;
        color: #fff;
        .task-modal-header-title {
          font-size: 24px;
          font-weight: bold;
          margin: 0;
        }
        .task-modal-header-subtitle {
          color: rgba(191, 219, 254, 1);
          font-size: 14px;
          margin: 0;
        }
      }
    }
    .task-modal-body {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}

@media (max-width: 480px) {
  .task-modal {
    .task-modal-container {
      width: 93%;
      height: 90%;
      min-width: unset;
      .task-modal-header {
        padding: 12px;
        .close-button {
          top: 10px;
          right: 10px;
          padding: 2px;
        }
        .task-modal-header-content {
          gap: 18px;
          .task-modal-header-title {
            font-size: 20px;
          }
          .task-modal-header-subtitle {
            font-size: 12px;
          }
        }
      }
      .task-modal-body {
        padding: 12px;
        gap: 8px;
      }
    }
  }
}
