.createRoutine {
  padding: 70px 10px 10px;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--base-background);
  position: relative;
  .card {
    padding: 20px 5px;
    width: 40%;
    min-width: 480px;
    border: 1px solid var(--border-color);
    box-shadow: 2px 1px 3px var(--shadow-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--third-background);
    .title {
      text-align: center;
      margin-bottom: 20px;
      font-size: 22px;
      color: var(--title-color);
    }
    .createRoutineForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .typeForm,
      .categoryForm {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .tag {
          width: 30%;
        }
        .select {
          height: 30px;
          width: 50%;
          font-size: 14px;
          color: var(--base-color);
          background-color: var(--input-background);
        }
      }
      .descriptionForm {
        display: flex;
        flex-direction: column;
        width: 80%;
        .content {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          .tag {
            width: 30%;
          }
          .text {
            width: 50%;
            font-size: 14px;
            background-color: var(--input-background);
          }
        }
        .errorMessage {
          color: red;
          text-align: center;
          margin-top: 8px;
          span {
            font-size: 14px;
          }
        }
      }
      .btn {
        width: 30%;
        margin-top: 5px;
      }
    }
  }

  @media (max-width: 1024px) {
  }

  @media (max-width: 480px) {
    font-size: 14px;
    .card {
      padding: 15px 0;
      min-width: 90%;
      .title {
        font-size: 18px;
      }
      .createRoutineForm {
        .typeForm,
        .categoryForm {
          width: 95%;
          .select {
            width: 55%;
          }
        }
        .descriptionForm {
          width: 95%;
          .content {
            .text {
              width: 55%;
            }
          }
        }
        .btn {
          width: 40%;
        }
      }
    }
  }
}
