.box {
  width: 250px;
  height: calc(100vh - 60px);
  background-color: var(--second-background);
  top: 60px;
  position: fixed;
  z-index: 999;
  transition: margin-left 0.5s ease;
}

.box.open {
  margin-left: 0;
}
.box.close {
  margin-left: -250px;
}
