.loginHeader {
  width: 100%;
  min-width: 500px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--header-background);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  .left {
    display: flex;
    gap: 30px;
    align-items: center;
    .title {
      font-weight: bold;
    }
    .icon {
      cursor: pointer;
      color: var(--darkModeIcon-color);
      box-sizing: content-box;
      padding: 0.2rem;
      border-radius: 50%;
      background-color: var(--icon-background);
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .right {
    display: flex;
    gap: 30px;
    align-items: center;
    .link {
      color: var(--base-color);
      text-decoration: none;
      &:hover {
        color: #aaa;
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 15px;
    .left,
    .right {
      gap: 20px;
      font-size: 18px;
    }
  }

  @media (max-width: 480px) {
    padding: 10px;
    min-width: 100%;
    .left,
    .right {
      gap: 12px;
      font-size: 13px;
    }
  }
}
