.routine {
  margin-top: 60px;
  padding: 10px;
  min-height: 100vh;
  background: var(--base-background);
  position: relative;
  .error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .routine-content {
    margin: 10px 20px;
    .routine-content-header {
      max-width: 900px;
      min-width: 470px;
      margin: 25px auto 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        font-size: 20px;
        font-weight: bold;
      }
    }
    .routine-container {
      max-width: 850px;
      min-width: 470px;
      margin: 0 auto;
      background-color: var(--third-background);
      border-radius: 16px;
      box-shadow: 0 2px 6px var(--shadow-color);
      overflow: hidden;
      .routine-header {
        padding: 22px 30px;
        background: var(--quaternary-color);
        display: flex;
        align-items: center;
        gap: 30px;
        .routine-header-icon {
          color: #000;
          width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgba(255, 255, 255, 0.3);
          border-radius: 14px;
          background-color: rgba(255, 255, 255, 0.2);
        }
        .routine-header-title {
          color: #fff;
          font-weight: bold;
          font-size: 22px;
        }
      }
      .routine-list {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        gap: 20px;
      }
    }
    .routine-container:last-child {
      margin-top: 30px;
    }
  }
}

@media (max-width: 480px) {
  .routine {
    .routine-content {
      margin: 10px;
      .routine-content-header {
        min-width: unset;
        margin: 0 auto 20px;
        .left {
          font-size: 16px;
        }
      }
      .routine-container {
        min-width: unset;
        .routine-header {
          padding: 15px 15px;
          gap: 15px;
          .routine-header-icon {
            width: 40px;
            height: 40px;
            border-radius: 12px;
          }
          .routine-header-title {
            font-size: 18px;
          }
        }
        .routine-list {
          padding: 10px;
          display: flex;
          flex-direction: column;
          grid-template-columns: none;
        }
      }
      .routine-container:last-child {
        margin-top: 20px;
      }
    }
  }
}
