.routine {
  padding: 70px 10px 10px;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--base-background);
  position: relative;
  .error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .no-routine {
    text-align: center;
  }
  .content {
    margin: 10px 20px;
    .date {
      font-size: 20px;
      font-weight: bold;
    }
    .routine-container {
      padding: 20px;
      background-color: var(--third-background);
      border-radius: 16px;
      box-shadow: 0 2px 6px var(--shadow-color);
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
      .routine-header {
        grid-column: 1 / -1;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .routine-title {
          font-weight: bold;
          font-size: 20px;
        }
        .routine-button {
          transition: transform 0.3s ease;
          &:hover {
            transform: translateY(-2px);
          }
        }
      }
    }
  }
}
.modalbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background-color: var(--input-background);
  border-radius: 2px;
  padding: 20px;
  text-align: center;
  .modalmessage {
    margin-bottom: 30px;
  }
  .modalbtn {
    margin: 0 15px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .routine {
    .content {
      margin: 10px;
      .routine-container {
        padding: 15px;
        grid-template-columns: 1fr;
        gap: 15px;
      }
    }
  }
  .modalbox {
    width: 90%;
  }
}
