:root[data-theme="light"] {
  --base-color: #101010;
  --base-background: #f8f8ff;
  --second-background: #e6e6fa;
  --third-background: #eee;
  --header-background: #fff6e9;
  --input-background: #eee;
  --border-color: #ccc;
}

:root[data-theme="dark"] {
  --base-color: #efefef;
  --base-background: #202124;
  --second-background: #494848;
  --third-background: #555;
  --header-background: #101010;
  --input-background: #aaa;
  --border-color: #888;
}

:root {
  color: var(--base-color);
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
